.item-list {
  margin: 20px 0;
}

.item-list .list-group-item {
  display: flex;
  align-items: center;
}

.item-list .list-group-item input {
  width: 40px;
}

.list-item-box {
  display: flex;
  width: 70px;
  justify-content: space-between;
  align-items: center;
}

.title-box {
  text-align: center;
}

.title-box small {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .subtitle {
    font-size: 28px;
  }
}
