.chart-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.jumbotron.stat h2 {  
  font-weight: 700;
  color: #6bbbae;
}

.chart-container canvas:first-child {
  margin-right: 22px;
}

@media only screen and (max-width: 480px) {
  .chart-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .chart-container canvas:first-child {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
